alembic
appdirs
atomicwrites
attrs
bcrypt
black
certifi
chardet
Click
codecov
colour
dataclasses
entrypoints
fastapi[all]
flake8
h11
httptools
idna
importlib-metadata
Mako
MarkupSafe
mccabe
more-itertools
packaging
passlib
pluggy
psycopg2-binary
py
pycodestyle
pydantic
pyflakes
PyJWT
pyparsing
pytest
pytest-cov
python-dateutil
python-editor
python-multipart
requests
six
SQLAlchemy
starlette
toml
urllib3
uvicorn
uvloop
wcwidth
websockets
zipp